[Fatal Error] :33:5: The element type "meta" must be terminated by the matching end-tag "</meta>".

Console reports fatal error. Pretty much clean install of Openhab 2 on Raspberry PI 2. Snapshot from 3 days ago. Does not seem to affect anything.

pi@raspberrypi /etc/openhab2 $ ./start.sh
Launching the openHAB runtime...

```
                      __  _____    ____      
```

  ____  ____  ___  ____  / / / /   |  / __ )  
 / __ \/ __ \/ _ \/ __ \/ /_/ / /| | / __  | 
/ /_/ / /_/ /  **/ / / / __  / ___ |/ /_/ /  
__**/ .**_/\**_/_/ /_/_/ /_/_/  |_/_____/  
    /_/                        2.0.0-SNAPSHOT

Hit '<tab>' for a list of available commands
and '[cmd] --help' for help on a specific command.
Hit '<ctrl-d>' or type 'system:shutdown' or 'logout' to shutdown openHAB.

openhab> [Fatal Error] :33:5: The element type "meta" must be terminated by the matching end-tag "</meta>".
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30586423-fatal-error-33-5-the-element-type-meta-must-be-terminated-by-the-matching-end-tag-meta?utm_campaign=plugin&utm_content=tracker%2F28452711&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F28452711&utm_medium=issues&utm_source=github).
</bountysource-plugin>


same here. 100% clean install
also Pi2

and you can confirm that `log:display` on the console does not show any kind of errors?


openhab> [Fatal Error] :33:5: The element type "meta" must be terminated by the matching end-tag "</meta>".
log:display
16:10:46.185 [ERROR] [org.eclipse.smarthome.core.transform] - [org.eclipse.smarthome.action.transformation.action(78)] Circular reference detected, getService returning null


getting the same error, also on a clean install on pi2.

btw, it happens both on the latest online & offline snapshots.

Problem solved after reinstalling it and changing the configuration to standard instead of demo before the first run.

I'm also experiencing this issue.  I believe I've narrowed it down to my Chromecasts -- it looks like some part of the UPnP discovery process is redirecting the HTTP client to http://www.google.com/cast/, which can't be parsed as XML because it does indeed have unterminated meta tags.

Do the others experiencing this also have Chromecasts?

If it helps, I'll try to dig up the log data that led me to this conclusion.

Thanks for the analysis.
So things seem to point at the UPnP request processing. I assume that it is a message that also comes up during normal operation, but is suppressed by our [logging configuraiton](https://github.com/openhab/openhab-distro/blob/master/distributions/distribution-resources/src/main/resources/etc/org.ops4j.pax.logging.cfg#L12). Since [jUPnP uses Java util logging](https://github.com/jupnp/jupnp/issues/37), this is written to stdout as long as Karaf hasn't started its own logging framework.

What you could try is to set
```
openhab> log:set DEBUG org.jupnp
```
And see if you find a similar log message in your log file during normal operation then. If so, this should give us the exact line where this is logged and we can potentially change jUPnP in there. In any case, I would think that https://github.com/jupnp/jupnp/issues/37 will solve the problem as well.

Nonetheless, for all users that see that message: Simply ignore it, it has no impact on the functionality of openHAB in any way.

Yep, you're absolutely right.  I set the log level as you suggested and now I see this in the logs:
```
2016-02-24 23:29:32.715 [DEBUG] [.binding.xml.ServiceDescriptorBinder] - Reading service from XML descriptor
2016-02-24 23:29:32.716 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: html
2016-02-24 23:29:32.716 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: head
2016-02-24 23:29:32.716 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: meta
2016-02-24 23:29:32.716 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: meta
2016-02-24 23:29:32.716 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: link
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: link
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: script
2016-02-24 23:29:32.717 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: script
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: script
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: script
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: title
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: title
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: meta
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: meta
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler starting: style
2016-02-24 23:29:32.718 [DEBUG] [org.jupnp.xml.SAXParser             ] - RootHandler ending: style
2016-02-24 23:29:32.719 [WARN ] [.binding.xml.ServiceDescriptorBinder] - Could not parse service descriptor: org.jupnp.xml.ParserException: org.xml.sax.SAXParseException; lineNumber: 33; columnNumber: 5; The element type "meta" must be terminated by the matching end-tag "</meta>".
```

In any case, as you mentioned this doesn't affect openHAB.  In fact, I'm inclined to treat it as a Chromecast bug more than anything else -- they seem to be breaking the UPnP process by redirecting to something that isn't a valid service description.

Cool, happy to see that my assumption was right :-)
So I agree that it actually is a Cromecast bug. jUPnP is correct that it logs a warning message here.
So the issue here is now merely that we would want to suppress the message appearing on stdout. This will be hopefully achieved by https://github.com/jupnp/jupnp/issues/37. If anybody is interested on implementing that, please feel free!

> So I agree that it actually is a Cromecast bug.

I could be wrong but at which time it is required that a HTML page is using valid XML?
We could use <br> instead of <br/> in HTML and a XML parser will complain a missing </br>.

Cannot have a look at this ATM because of missing network at home, but why does the jUPnP discovery process of local devices load http://www.google.com/cast/?
The information that is received by the Chromecast via UPnP will contain this link in a field, but I don't know if it is correct behaviour to load external resources at discovery. This looks like it could be used for DoS if I can trigger jUPnP to load external resources by sending UPnP messages in a network.

If read the UPnP specification some years ago but unfortunately it seems I lost my knowledge about that.

If someone is interested in, here some informations:


UPnP info

```text
Location http://<ip>:8008/ssdp/device-desc.xml
UDN uuid:...
Type urn:dial-multiscreen-org:device:dial:1
Base URL http://<ip>:8008/
Friendly Name ...
Manufacturer Google Inc.
Model Name Eureka Dongle
```


device-desc.xml

```text
<root>
	<specVersion>
		<major>1</major>
		<minor>0</minor>
	</specVersion>
	<URLBase>http://<ip>:8008</URLBase>
	<device>
		<deviceType>urn:dial-multiscreen-org:device:dial:1</deviceType>
		<friendlyName>...</friendlyName>
		<manufacturer>Google Inc.</manufacturer>
		<modelName>Eureka Dongle</modelName>
		<UDN>uuid:...</UDN>
		<iconList>
			<icon>
				<mimetype>image/png</mimetype>
				<width>98</width>
				<height>55</height>
				<depth>32</depth>
				<url>/setup/icon.png</url>
			</icon>
		</iconList>
		<serviceList>
			<service>
				<serviceType>urn:dial-multiscreen-org:service:dial:1</serviceType>
				<serviceId>urn:dial-multiscreen-org:serviceId:dial</serviceId>
				<controlURL>/ssdp/notfound</controlURL>
				<eventSubURL>/ssdp/notfound</eventSubURL>
				<SCPDURL>http://www.google.com/cast</SCPDURL>
			</service>
		</serviceList>
	</device>
</root>
```


UPnP Device Architecture v1.0; 2.1 Description: Device description
```
SCPDURL 
Required.
URL for service description (nee Service Control Protocol Definition URL). (cf. section below on service description.)
May be relative to base URL. Specified by UPnP vendor. Single URL.
```

UPnP Device Architecture v1.1; 2.3 Device description 
```
<SCPDURL> 
REQUIRED. URL for service description. (See section 2.5, “Service description” below.)
MUST be relative to the URL at which the device description is located in accordance with section 5 of RFC 3986. Specified by UPnP vendor. Single URL
```

So, it seems that it is valid to point to an absolute URL in v1.0.
And the SCPDURL should contain a service description.

It seems correct behaviour and it seems now also for me that this is a non-conform implementation of the UPnP specification by the Chromecast device.

If I find sime time, I will have a deeper look at the spec and the implementation.

FTR: @maggu2810 fixed this in https://github.com/jupnp/jupnp/pull/67.
Once JUPnP 2.3 is out and included in openHAB, this message will disappear. Until then, simply remove all Chromecast devices from your network ;-)

How about upgrading jupnp now? Also it is a security risk to have it follow all URLs, even when they are pointing to a location somewhere in the internet but I guess it doesn't really matter. There shouldn't be a usecase for an upnp device refering to an online description file.

openHAB already contains JUPnP 2.3.0 since a while - so I would claim that this issue can be closed.